<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glenwin.tick_a_train" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddPassenger"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ListPassengers"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View_Details"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UpdateCustomer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RemoveCustomer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.glenwin.tick_a_train.HomeFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Tick-A-Train" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ErrorActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ShowProgressLane"
            android:label="@string/title_activity_show_progress_lane" >
        </activity>
        <activity
            android:name=".AddSchedule"
            android:label="@string/title_activity_add_schedule" >
        </activity>
    </application>

</manifest>
